<head>


  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <div class="jumbotron text-center">
    <h1>Select your liquour</h1>
  </div>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#about">CONTACT</a></li>
        <li><a href="#contact">CHECKOUT <span class="glyphicons glyphicons-glass"></span></a></li>
      </ul>
    </div>
  </div>
</nav>



  <div class="table-title">
    <h3>Your current order</h3>
  </div>

  <table class="table-fill">

    <thead>

      <tr>
        <th class="text-center"> Type of drink </th>
        <th class="text-center"> Base </th>
        <th class="text-center"> Base brand </th>
        <th class="text-center"> Soft Drink </th>
        <th class="text-center"> Quantity </th>
      </tr>

    </thead>

    <tbody class="table-hover" *ngFor="let drink of orders">

      <tr>
        <td class="text-left">{{drink.size}}</td>
        <td class="text-left">{{drink.alcohol}}</td>
        <td class="text-left">{{drink.brand}}</td>
        <td class="text-left">{{drink.soft}}</td>
        <td class="text-center">{{drink.number}}</td>
      </tr>

    </tbody>

  </table>

  <button (click)="addAnother()"> Add another  drink </button>
  <button (click)="checkout()"> Checkout </button>


</body>
