.ng-touched {
  border-color: blue;
}

.ng-touched.ng-invalid {
  border-color: red;
}

.ng-touched.ng-valid {
  border-color: green;
}

h1.text-center-logoDigits {
font-family: 'Digital-7', arial;
font-size: 100px;
text-shadow: 4px 4px 4px #aaa;
text-align: center;
color: white;
}
h2.text-center-logoName {
font-family: 'Digital-7';
font-size: 40px;
text-shadow: 4px 4px 4px #aaa;
text-align: center;
color: white;
}

.panel.panel-default {
  padding: 40px;
}

body{
    padding-top: 20px;
  background-color: black;
}
form{
	padding: 20px;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 15px 0 rgba(0,0,0,0.12) !important;
      font-family: Montserrat, sans-serif;
}
h4{
    text-align: center;
}
.btn{
	border-radius: 0px;
}
.form-control{
	border-radius: 0px;
	margin-bottom: 10px;
}
p{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}
.blue{
	color: #337ab7;
}
.fa{
	color: #337ab7;
}
.fa-facebook-f{
	padding: 10px 12px 10px 12px;
	border: 1px solid #337ab7;
	border-radius: 50%;
}
i{
	margin-left: 5px;
	margin-right: 5px;
}

.loginBody{
 background-image: url(http://cdn.wallpapersafari.com/14/20/hBv6jr.jpg);
 background-size: cover;
 height: 100vh;
 min-height: 100%;
 font-family: Montserrat, sans-serif;

}

.loginForm{
  background: #FFFAFA;
  width: 40vw;
  margin-left: 30%;
}

.loginFormHead{
  background: black;
  width: 40vw;
  margin-left: 30%;
  padding-top: 1%;
}
